body,
html {
  width: 100%;
  height: 100%;
  color: white;
}

a:hover {
  color: #f1f1f8;
  text-decoration: none;
}
.solid {
  display: inline-block;
  padding: 1.1875rem 2.215rem 1.1875rem 2.125rem;
  border: 0.125rem solid deepskyblue;
  border-radius: 2rem;
  background-color: deepskyblue;
  color: white;
  font-weight: 700 0.75rem/0;
  font-family: sans-serif;
  transition: all 0.2s;
  text-decoration: none;
}

.solid:hover {
  background-color: transparent;
  color: deepskyblue;
  text-decoration: none;
}

/* Magnific popup - mfp */

.my-mfp-slide-bottom .zoom {
  opacity: 0;
  transition: all 0.2s ease-out;
  transform: translateY(-1.25rem) perspective(73.5rem) rotateX(10deg);
}

.my-mfp-slide-bottom.mfp-ready .zoom {
  opacity: 1;
  transform: translateY(0) perspective(73.5rem) rotateX(0);
}
.my-mfp-slide-bottom.mfp-removing .zoom {
  opacity: 0;
  transform: translateY(-0.579) perspective(73.5rem) rotateX(10deg);
}
.my-mfp-slide-bottom.mfp-bg {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
  opacity: 0;
}

.basic-2 {
  padding-top: 8rem;
  padding-bottom: 3.5rem;
  background: #1d1d58;
}

.basic-2 img {
  margin-bottom: 3.5rem;
}

.basic-2 h3 {
  margin-bottom: 1.125rem;
}
.basic-3 {
  padding-top: 8rem;
  padding-bottom: 3.5rem;
  background: #1d1d58;
}

.basic-3 img {
  margin-bottom: 3.5rem;
}

.basic-3 h3 {
  margin-bottom: 1.125rem;
}

.lightbox-basic {
  position: relative;
  max-width: 47.875rem;
  margin: 2.5rem auto;
  padding: 3rem 1rem;
  border-radius: 0.25rem;
  background-color: #2f2c3d;
  text-align: left;
}

.lightbox-basic a.mfp-close.as-button:hover {
  color: #f1f1f8;
}

.lightbox-basic button.mfp-close.x-button {
  position: absolute;
  top: -0.375rem;
  right: -0.375rem;
  width: 2.75rem;
  height: 2.75rem;
  color: white;
}
